<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>dashboard</title>
</head>
<body>
    <form action="">
        <label for="email">Email Address:</label><br>
        <input type="text" name="email" placeholder="name@example.com" required><br>

        <label for="fullname">Full name:</label><br>
        <input type="text" name="fullname" placeholder="Nikita Rehemae" required><br>

        <label for="category">Category:</label><br>
        <input list="category" placeholder="Option 1" required>
        <datalist id="category" name="category">

        </datalist><br>

        <label for="note">Note:</label><br>
        <textarea name="note" cols="30" rows="10" placeholder="Text note" required></textarea><br>

        <input type="submit" value="Submit">
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Category</th>
            <th>Note</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
        </tr>
    </table>
</body>
</html>